.aboutBlock{
    margin-top: 3em;
    /* display: flex; */
    /* justify-content: space-between; */
    min-width: 1190px;
    /* height: 108px; */
    background: #292929;
    /* overflow: hidden; */ 
    grid-area:m;
    /* position: relative; */
}
.aboutMephotoBlock{
    display: flex;
    justify-content: flex-start;
    margin-top: 6em;
    margin-bottom: 5%;
}

.AboutMePar{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-left: 8%;
    margin-right: 3%;
    width: 600px;
}
.myPhoto{
    background-image: url(../photo/photo1.png);
   height: 487px;
    width: 436px;
    margin-left: 5%;

}

.skillsHeader{
    font-size: 25px;
    padding-top: 2em;
}

.iconBlock{
    padding-top: 2em;
    display: flex;
    justify-content: space-around;
}

.skills{
    /* display: flex; */
    margin-top: 9em;
    width: 100%;
    height: 20rem;
    text-align: center;
    background-color: #e4d8d8;
    /* position: absolute; */
    /* top: 91%;
    left: 10%; */
}

.icon1{
    width: 70px;
    height: 82px;
    background-image: url(./photo_/akar-icons_github-outline-fill.png);
}

.icon2{
    width: 84px;
    height: 80px;
    background-image: url(./photo_/Vector.png);
}

.icon3{
    width: 61px;
    height: 81px;
    background-image: url(./photo_/\ icon\ _figma_.png);
}

.icon4{
    width: 76px;
    height: 82px;
    background-image: url(./photo_/\ icon\ _file\ type\ css_.png);
}

.icon5{
    width: 78px;
    height: 82px;
    background-image: url(./photo_/\ icon\ _html\ 5_.png);
}

.icon6{
    width: 84px;
    height: 81px;
    background-image: url(./photo_/\ icon\ _react_.png);
}

.icon7{
    width: 82px;
    height: 78px;
    background-image: url(./photo_/\ icon\ _Visual\ Studio\ Code_.png);
}

.iconLink{
    background-image: url(./photo_/\ icon\ _logo\ linkedin_.png);
    width: 132px;
    height: 81px;
}

.iconCV{
    background-image: url(./photo_/\ icon\ _cv_\ \(1\).png);
    width: 142px;
    height: 81px;
}

.iconGit{
    background-image: url(./photo_/\ icon\ _logo\ github_.png);
    width: 81px;
    height: 81px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.socialIcons{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 90px;
    /* position: absolute; */
  margin-top: 5%;
}