.footerBlock{
width: 100%;
    background-color: #1b1a1a;
    grid-area: f;
    display: flex;
    justify-content: space-between;
}

.myBrend{
    margin-top: 0.5em;
    margin-left: 1.5em;
    width: 149px;
    height: 56px;
}

.icons{
    padding-top: 1em;
    display: inline;
    margin-right: 20px;
}

.icons-link{
    width: 35px;
    height: 35px;
    margin-right: 1.2em;
}

.icons-link{
    width: 35px;
    height: 35px;
    margin-right: 1.2em;
    transition: transform 0.3s ease-in-out; /* Add a transition effect for a smooth animation */
}

.icons-link:hover{
    transform: scale(1.2); /* Scale up the icon on hover */
}